# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# system
.DS_Store
Thumbs.db 

# dependencies
node_modules/
vendor/
.env
.idea/
.vscode/
__pycache__/
.pnp
.pnp.js

#database
.sql

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*